﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mailo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mailo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        .logo {
            max-width: 70px;
            display: block;
            margin: 0 auto;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .content {
            flex: 1;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            width: 100%;
        }
    </style>
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="/images/logo-removebg-preview.jpg" alt="logo" class="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-block d-lg-flex justify-content-between align-items-center" id="navbarNav">
                <ul class="nav navbar navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    @if(!User.IsInRole("Employee")){
					    <li class="nav-item">
						    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
					    </li>
                    }
                        @if (User.IsInRole("Admin"))
                        {
                            
                            @* <li class="nav-item"> *@
                            @*     <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index_A">Products</a> *@
                            @* </li> *@
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="ProductManagement">Product Management</a>
                            </li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Delivery" asp-action="Index">Delivery</a></li>

                        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Employee" asp-action="Index">Employee</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Employee" asp-action="ViewOrdersAdmin">Orders</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-controller="PromoCode" asp-action="Index">Promo Code</a></li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Complaints">Messages</a>
                        </li>
                        
                        }
                        else if (User.IsInRole("Client"))
                        {
                        
                            @* <li class="nav-item"> *@
                            @*     <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index_U">Products</a> *@
                            @* </li> *@

                        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Cart" asp-action="GetOrders">My Orders</a></li>
						    <li class="nav-item">
							    <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index_U">Contact us</a>
						    </li>
                        }

                        else if (User.IsInRole("Employee"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="ViewOrders">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="ViewRequiredOrders">My Orders</a>
                            </li>
                        }
            
                        @if (Context.User.Identity?.Name != null)
                        {
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="LogOut" method="post" id="logoutForm" class="navbar-right d-flex align-items-center">
                                        <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
					            </form>
				            </li>
                        }
                        else
                        {
                        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Account" asp-action="Registration"> Register</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Log in</a></li>
                        }
                        </ul> 
                        <ul class="nav nabar navbar-nav">
                   @*  <li class="nav-item"> *@
                   @*      <a href="https://www.instagram.com/mailo.eg?igsh=MWkxbWtsbGFkZ2R0" style="padding:10px;"> *@
                   @*          <i class="bi bi-instagram text-primary me-2"></i>  *@
                   @* </a> *@
                   @*  </li> *@
                    @if (User.IsInRole("Client")){
                    <li class="nav-item">
                        <a class="fs-18 cl7 hov-cl1 trans-04 m-r-16 text-dark text-decoration-none" asp-controller="Cart" asp-action="Index" style="padding:10px;">
                            <i class="bi bi-cart text-primary me-2"></i><span class="d-lg-none">Cart</span>
                            </a>
                        </li>

                        <li class="nav-item text-center">
                        <a asp-controller="Wishlist" asp-action="Index" class="fs-18 cl7 hov-cl1 trans-04 m-r-16 text-dark text-decoration-none" style="padding:10px">
                            <i class="bi bi-heart text-primary me-2"></i><span class="d-lg-none">Wishlist</span>
                            </a>
					</li>
                    }
                    @if (Context.User.Identity?.Name != null && !User.IsInRole("Employee"))
                    {
                    <li class="nav-item text-center">
                        <a asp-controller="Account" asp-action="Edit" class="fs-18 cl7 hov-cl1 trans-04 m-r-16 text-dark text-decoration-none" style="padding:10px">
							<i class="bi bi-person-circle text-primary me-2"></i><span class="d-lg-none">Edit Account</span>
                        </a>
				    </li>
                    }
			</ul>
		</div>
		</div>
    </nav>

    @RenderBody()


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>