@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}
<style>
    .container1 {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    }
</style>
<div class="container">
<h1 class="text-primary">@ViewData["Title"]</h1>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}
else
{
        <div class="container1 d-flex flex-column justify-content-center bg-light my-3 rounded-3 p-5s">

    <form asp-action="ForgotPassword" method="post" class="">
        <div class="form-group">
                <h5><label asp-for="Email"></label></h5>
            <input asp-for="Email" class="form-control my-2"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Send Reset Link</button>
    </form>
    </div>
}
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
