
@{
    ViewData["Title"] = "Home";
}

<style>
    /* تنسيق السلايدر */
    .carousel-item {
    height: 100vh;
    background-size: contain;
    background-position: center;
    color: #fff;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    }

    .carousel-caption {
    bottom: 40%;
    }

    .carousel-caption h1 {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: bold;
    }

    .carousel-caption p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    }

    .carousel-caption button {
    background-color: #4d7eff;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    }

    .carousel-caption button:hover {
    background-color: #365fbf;
    }

    /* تنسيق البانر */
    .custom-banner {
    width: 100%;
    height: 90vh;
    /* background-image: linear-gradient(to bottom right,#0068d8,white); */
    background-image: url('/images/logo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    /* .custom-banner::before { */
    /*     content: ""; */
    /*     position: absolute; */
    /*     top: 0; */
    /*     left: 0; */
    /*     width: 100%; */
    /*     height: 100%; */
    /*     background: linear-gradient(to bottom right,#0068d8,white); */
    /*     border-radius: 15px; */
    /* } */
</style>

<div class="custom-banner mb-5 position-relative d-flex flex column justify-content-center">
    @if (!User.IsInRole("Employee")){
        <a class="btn btn-light text-primary position-absolute z-2 fw-bold" asp-action="Index" asp-controller="Product" style="bottom:40px">Shop Now</a>
    }
</div>
