@model Mailo.Models.Category
@{
    ViewData["Title"] = "Add Category";
}
<style>
    .container1 {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    }
</style>
<div class="container">
<h1 class="text-primary">Add Category</h1>
    <div class="container1 d-flex flex-column justify-content-center bg-light my-3 rounded-3 p-5">
<form asp-action="Edit" method="post">
    <h5><label asp-for="Name">Category Name</label></h5>
    <input asp-for="Name" class="form-control my-2" required />
    <span asp-validation-for="Name" class="text-danger"></span>
    <div class="d-flex mt-3">
        <button type="submit" class="btn btn-primary me-2">Add</button>
        <a asp-action="Index" class="btn btn-danger text-decoration-none">Cancel</a>
    </div>
</form>
</div>
</div>

