@model IEnumerable<Mailo.Models.Category>
@{
    ViewData["Title"] = "Show Categories";
}
<div class="container">
    <div class="d-block d-md-flex justify-content-between align-items-center">
        <h1 class="text-primary">Categories</h1>
        <a href="@Url.Action("Create")" class="btn btn-primary p-2">Add Category</a>
	</div>   
    <a asp-action="ProductManagement" asp-controller="Product" class="btn btn-primary my-2">Go to Product Management</a>

    @if(Model.Any()){

    <table class="table">
        <thead>
            <tr class="text-primary">
                <th>Name</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td><a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-primary">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
    }
else{
    <h2 class="text-center">No Categories</h2>
}
</div>
